{% extends 'layout.html' %}

{% block head %}
    <title>TODOLIST</title>
{% endblock %}

{% block body %}
<section>
    <div class="todo_container">
        <h1>TO DO LIST APP</h1>
        <form action="/" method="post">
            <input type="text" name="task">
            <input type="submit" value="ADD TASK">
        </form>
        <ul>
            {% for task in tasks %}
            <li>
                <div class="task">
                    <h4>{{ task.task }}</h4>
                    <div>
                        <a href="/delete/{{task.id}}"><i class="fa-solid fa-trash"></i></a>
                        <a href="/update/{{task.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}